In [13]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [14]:
data=pd.read_csv("data\creditcard.csv")
data.head()

<>:1: SyntaxWarning: invalid escape sequence '\c'
<>:1: SyntaxWarning: invalid escape sequence '\c'
C:\Users\97798\AppData\Local\Temp\ipykernel_17196\2325039946.py:1: SyntaxWarning: invalid escape sequence '\c'
  data=pd.read_csv("data\creditcard.csv")

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [15]:
print(data.isnull().sum())

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [16]:
# Checking for duplicate rows
print(f"Number of duplicate rows: {data.duplicated().sum()}")

Number of duplicate rows: 1081

In [17]:
# (Optional) Remove duplicates if any
df = data.drop_duplicates()

In [18]:
data["Class"].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [19]:
X=data.drop('Class',axis=1)
y=data['Class']

In [20]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42,stratify=y)

In [21]:
scaler=StandardScaler()
X_train_scaled=scaler.fit_transform(X_train)
X_test_scaled=scaler.transform(X_test)

Highly imbalanced Dataset

# SMOTE (Synthetic Minority Over-sampling Technique)

## What is SMOTE?
**SMOTE** is a technique to balance class distribution when working with **imbalanced datasets**.  
It creates **synthetic examples** of the minority class instead of simply duplicating existing ones.

---

## Where is SMOTE Used?
- Classification problems with class imbalance.
- Examples:
  - Fraud detection
  - Medical diagnosis (rare disease detection)
  - Customer churn prediction
  - Anomaly detection

---

## Why Do We Need SMOTE?
- Models tend to **bias towards the majority class** when data is imbalanced.
- SMOTE helps the model **learn the decision boundary** of the minority class better by **adding synthetic examples**.
- It improves the modelâ€™s ability to **detect rare events** like frauds.

---

## How SMOTE Works (Simple Terms)
1. For each sample in the minority class:
   - Find its **k nearest neighbors** (default `k=5`) among the minority class.
2. Randomly choose one of these neighbors.
3. Create a **synthetic point** between the sample and the chosen neighbor by interpolating.

ðŸ”µ **Original point** â†’ ðŸŸ¡ **Synthetic point** â†’ ðŸŸ¢ **Neighbor point**

Thus, SMOTE **fills gaps** between minority class examples.

---

## Key Points to Remember
- SMOTE **generates synthetic data**, it does not duplicate.
- Always apply SMOTE **only on training data**, never on test data.
- Best suited for datasets with **continuous features**.
- Helps reduce model bias towards the majority class.

---

## Visual Idea
Imagine fraud cases as isolated dots.  
SMOTE draws new fake dots around them to create a visible "cluster," helping models generalize better.

---

SMOTE is imported from the imblearn library, specifically from imblearn.over_sampling.

imblearn stands for imbalanced-learn â€” a special Python library built to handle imbalanced datasets.

It is separate from Scikit-learn, but its syntax is very similar.

Always import SMOTE from imblearn.over_sampling, not from sklearn.

Because sklearn does not have SMOTE natively â€” itâ€™s only in imbalanced-learn.

pip install imbalanced-learn

In [22]:
from imblearn.over_sampling import SMOTE
#intitalize smote 
smote=SMOTE(random_state=42)

#applying smote only on training data 
X_train_resampled,y_train_resampled=smote.fit_resample(X_train_scaled,y_train)

# Checking class distribution after SMOTE
print((y_train_resampled).value_counts())

Class
0    227451
1    227451
Name: count, dtype: int64

In [23]:
import joblib

# Save the preprocessed data
data = {
    'X_train_resampled': X_train_resampled,
    'y_train_resampled': y_train_resampled,
    'X_test_scaled': X_test_scaled,
    'y_test': y_test
}

# Save the data to a file
joblib.dump(data, "data/preprocessed_data.pkl")

['data/preprocessed_data.pkl']